<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header::tag-head('Fakultas')"></head>
<body>
<div class="container">
    <nav th:replace="fragments/header::nav">
    </nav>
    <h4 class="h4 mt-5">Update Data Fakultas</h4>

    <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 mx-auto p-2">
            <form class="row g-3" th:object="${fakultas}" th:action="@{/fakultas/update(id=${fakultas.getId()})}"
                  method="post">
                <div class="col-12">
                    <label for="nim" class="form-label">Nama fakultas</label>
                    <input th:required="true" type="text" class="form-control" th:field="*{namaFakultas}"
                           placeholder="Nama fakultas.."
                           id="nim">
                </div>
                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary">Perbaharui</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>