<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header::tag-head('Fakultas')"><title></title></head>
<body>
<div class="container">
    <nav th:replace="fragments/header::nav">
    </nav>
    <h4 class="h4 mt-5">Data Fakultas</h4>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="text-center">Aksi</th>
                    <th scope="col">Nama fakultas</th>
                    <th scope="col" class="text-center">Jurusan terdaftar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="fakultas, iteration : ${kumpulanFakultas}">
                    <form th:object="${fakultas}" th:method="post"
                          th:action="@{/fakultas/{id}/destroy(id=${fakultas.getId()})}"
                          onsubmit="return confirm('Yakin ingin menghapus data ini?')">
                        <th scope="row" th:text="${iteration.count}"></th>
                        <td class="align-middle text-center">
                            <button class="btn btn-danger" type="submit"><i class="fas fa-trash"></i></button>
                            <a class="btn btn-outline-info" th:href="@{/fakultas/{id}/edit(id=${fakultas.getId()})}"><i
                                    class="fas fa-edit"></i></a>
                        </td>
                        <td class="align-middle" th:text="${fakultas.getNamaFakultas()}"></td>
                        <td class="align-middle">
                            <div class="dropdown text-center">
                                <button class="btn btn-light dropdown-toggle px-5" type="button"
                                        id="dropdownMenuButton3"
                                        data-bs-toggle="dropdown" aria-expanded="false"
                                        th:text="${fakultas.jurusans.size() + ' terdaftar'}">

                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                    <li th:each="jurusan : ${fakultas.jurusans}"><a class="dropdown-item" href="#"
                                                                                    th:text="${jurusan.getNamaJurusan()}"></a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>